<div class="container">
  <div class="row">
    <div class="col-md-12"><h1>Best shop ever</h1></div>
  </div>
  <div class="row">
    <div class="products">
      <h3>Products</h3>
      <div id="products-list" class="products-list">
        <app-product-list></app-product-list>
      </div>
    </div>
    <div class="shopping-cart">
      <h3>Shopping Cart</h3>

      <div id="cart" class="cart">
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
